body {
   font-size: 14px;
   font-family: $default-font-family;
}

a {
   &:hover {
      text-decoration: none;
   }
}

a,
button {
   outline: 0;

   &:active,
   &:focus,
   &:hover {
      outline: 0;
   }
}

hr {
   margin-top: 2rem;
   margin-bottom: 2rem;
   border: 0;
   border-top: 1px solid #f5f5f5;
}