---
title: Freelance İşler
layout: default
---

{% include mobile-menu--secondary.html %}

<div id="wrapper">
   {% include header--secondary.html %}

   <section class="app-content">
      <div class="container">
         <div class="section">
            <a href="#" title="#" class="title">
               Çalıştığım Projeler
            </a>
            <div class="description">
               <p>
                  İşinizi geliştirmeniz için ihtiyaç duyduğunuz web sitesi ya da mobil uygulama üzerinde birlikte çalışabiliriz.
               </p>
               <p>
                  Beklentileriniz doğrultusunda gerçek çözümü ortaya çıkartıp işinizi geliştirmek için çalışıyorum.
               </p>
               <p>
                  Benimle çalışmak ya da tanışmak için ulaşabilirsiniz.
               </p>
            </div>
         </div>
      </div>

      <div class="project-box col-xs-12 col-sm-6 col-lg-4" style="background: url(public/img/works/examples/1.jpg)">
         <div class="body">
            <h2 class="title">Awesome Company</h2>
            <p>Here some description</p>
            <button class="button" data-target-project="1">İncele</button>
         </div>
      </div>
      <div class="project-box col-xs-12 col-sm-6 col-lg-4" style="background: url(public/img/works/examples/8.jpg)">
         <div class="body">
            <h2 class="title">Awesome Company</h2>
            <p>Here some description</p>
            <button class="button" data-target-project="1">İncele</button>
         </div>
      </div>
      <div class="project-box col-xs-12 col-sm-6 col-lg-4" style="background: url(public/img/works/examples/4.jpg)">
         <div class="body">
            <h2 class="title">Awesome Company</h2>
            <p>Here some description</p>
            <button class="button" data-target-project="1">İncele</button>
         </div>
      </div>
      <div class="project-box col-xs-12 col-sm-6 col-lg-4" style="background: url(public/img/works/examples/3.jpg)">
         <div class="body">
            <h2 class="title">Awesome Company</h2>
            <p>Here some description</p>
            <button class="button" data-target-project="1">İncele</button>
         </div>
      </div>
      <div class="project-box col-xs-12 col-sm-6 col-lg-4" style="background: url(public/img/works/examples/5.jpg)">
         <div class="body">
            <h2 class="title">Awesome Company</h2>
            <p>Here some description</p>
            <button class="button" data-target-project="1">İncele</button>
         </div>
      </div>
      <div class="project-box col-xs-12 col-sm-6 col-lg-4" style="background: url(public/img/works/examples/6.jpg)">
         <div class="body">
            <h2 class="title">Awesome Company</h2>
            <p>Here some description</p>
            <button class="button" data-target-project="1">İncele</button>
         </div>
      </div>
      <div class="project-box col-xs-12 col-sm-6 col-lg-4" style="background: url(public/img/works/examples/2.jpg)">
         <div class="body">
            <h2 class="title">Awesome Company</h2>
            <p>Here some description</p>
            <button class="button" data-target-project="1">İncele</button>
         </div>
      </div>
      <div class="project-box col-xs-12 col-sm-6 col-lg-4" style="background: url(public/img/works/examples/7.jpg)">
         <div class="body">
            <h2 class="title">Awesome Company</h2>
            <p>Here some description</p>
            <button class="button" data-target-project="1">İncele</button>
         </div>
      </div>
      <div class="project-box pane secondary col-xs-12 col-sm-6 col-lg-4">
         <div class="body">
            <h2 class="title">Sıradaki sizin projeniz olabilir</h2>
            <div class="m-b-2"></div>
            <button class="button" data-target-project="next">İletişime Geç</button>
         </div>
      </div>
      <div class="clearfix"></div>

      <div class="container" id="work-description">
         <div class="section p-b-0">
            <h3 class="title">Web Geliştirme</h3>
            <div class="description">
               <p>
                  Bir web sitesine ihtiyacınız varsa ya da mevcut web sitenizde geliştirmeler, hata düzeltmeleri yaptırmak istiyorsanız birlikte çalışabiliriz.
               </p>
               <div class="m-b-1"></div>
               <ul>
                  <li>E-Ticaret</li>
                  <li>Kurumsal Web Site</li>
                  <li>Kişisel Web Site & Blog</li>
                  <li>ya da bunların dışında özel bir proje için bana ulaşabilirsiniz.</li>
               </ul>
            </div>
         </div>

         <div class="section p-b-0">
            <h3 class="title">Mobil Uygulama Geliştirme</h3>
            <div class="description">
               <p>
                  İşinizi geliştirmek için ya da projenizi hayata geçirmek için bir mobil uygulamaya ihtiyaç duyabilirsiniz.
               </p>
               <p>
                  Android ve iOS projeleriniz için de size yardımcı olabilirim.
               </p>
            </div>
         </div>
      </div>
   </section>
</div>

{% include footer.html %}

<!-- project-detail-box -->
<div class="project-detail-page-box" data-project="1">
   <button data-trigger="dismiss">
      <i class="fa fa-close"></i>
   </button>

   <div class="body">
      <div class="column is-description">
         <div class="description-body">
            <h3 class="title">Awesome Company Works Today</h3>
            <div class="description">
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio illum, omnis recusandae ipsam placeat quas culpa at eligendi sint earum magni a nostrum excepturi! Eum maxime nesciunt, reiciendis veniam aliquid.
            </div>
            <a href="#" title="#" target="_blank" class="button">Show Project</a>
         </div>
      </div>
      <div class="column">
         <img src="public/images/works/1/landing-2.jpg" class="full center">

         <div class="m-b-3"></div>

         <h3 class="sub-title center">Awesome Work</h3>

         <div class="m-b-3"></div>
         
         <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, accusamus consequatur nobis ipsum iste culpa qui numquam obcaecati suscipit perspiciatis quae eveniet minima, dolorum tempora magnam asperiores, perferendis ab odit.
         </p>
         <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex eligendi animi corrupti praesentium excepturi totam repellendus at fuga quis omnis. Dolores reprehenderit facilis molestias distinctio voluptas perferendis, ducimus impedit, inventore!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam blanditiis quae maxime culpa dolore porro perspiciatis perferendis neque tempore corporis vitae, rerum cumque aperiam illo, vel commodi in reprehenderit quibusdam.
         </p>

         <div class="m-b-3"></div>

         <img src="public/images/works/1/landing.jpg" class="full center">

         <div class="m-b-3"></div>

         <h3 class="sub-title center">Happy Clients</h3>

         <div class="m-b-3"></div>

         <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, accusamus consequatur nobis ipsum iste culpa qui numquam obcaecati suscipit perspiciatis quae eveniet minima, dolorum tempora magnam asperiores, perferendis ab odit.
         </p>
         <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex eligendi animi corrupti praesentium excepturi totam repellendus at fuga quis omnis. Dolores reprehenderit facilis molestias distinctio voluptas perferendis, ducimus impedit, inventore!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam blanditiis quae maxime culpa dolore porro perspiciatis perferendis neque tempore corporis vitae, rerum cumque aperiam illo, vel commodi in reprehenderit quibusdam.
         </p>
      </div>
   </div>
</div>

<div class="project-detail-page-box" data-project="next">
   <button data-trigger="dismiss">
      <i class="fa fa-close"></i>
   </button>

   <div class="body">
      <div class="column is-description">
         <div class="description-body">
            <h3 class="title">İletişim</h3>
            <div class="description">
               <p>
                  <strong>E-mail: </strong>
                  selahattin.unlu@yandex.com
               </p>
               <p>
                  <strong>Twitter: </strong>
                  @selahattinunlu
               </p>
            </div>
            <a href="#" title="#" target="_blank" class="button">Show Project</a>
         </div>
      </div>
      <div class="column is-blur">
         <img src="public/images/works/1/landing-2.jpg" class="full center">

         <div class="m-b-3"></div>

         <h3 class="sub-title center">Awesome Work</h3>

         <div class="m-b-3"></div>
         
         <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, accusamus consequatur nobis ipsum iste culpa qui numquam obcaecati suscipit perspiciatis quae eveniet minima, dolorum tempora magnam asperiores, perferendis ab odit.
         </p>
         <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex eligendi animi corrupti praesentium excepturi totam repellendus at fuga quis omnis. Dolores reprehenderit facilis molestias distinctio voluptas perferendis, ducimus impedit, inventore!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam blanditiis quae maxime culpa dolore porro perspiciatis perferendis neque tempore corporis vitae, rerum cumque aperiam illo, vel commodi in reprehenderit quibusdam.
         </p>

         <div class="m-b-3"></div>

         <img src="public/images/works/1/landing.jpg" class="full center">

         <div class="m-b-3"></div>

         <h3 class="sub-title center">Happy Clients</h3>

         <div class="m-b-3"></div>

         <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, accusamus consequatur nobis ipsum iste culpa qui numquam obcaecati suscipit perspiciatis quae eveniet minima, dolorum tempora magnam asperiores, perferendis ab odit.
         </p>
         <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex eligendi animi corrupti praesentium excepturi totam repellendus at fuga quis omnis. Dolores reprehenderit facilis molestias distinctio voluptas perferendis, ducimus impedit, inventore!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam blanditiis quae maxime culpa dolore porro perspiciatis perferendis neque tempore corporis vitae, rerum cumque aperiam illo, vel commodi in reprehenderit quibusdam.
         </p>
      </div>
   </div>
</div>

<script>
   $(function() {
      $('.project-box, #work-description').css('visibility', 'hidden');

      addEffectAsChaining('.project-box', 'fadeIn', 750, 0, function() {
         $('#work-description').css('visibility', 'visible').addClass('animated').addClass('fadeIn');
      });

      initProjectBoxAnimation();
   })
</script>