<div class="flex-wrap-body">
   <a href="{{ site.baseurl }}etiket/css" title="css" class="topic-box css">
      <header>
         <svg viewBox="0 0 100 100">
            <use xlink:href="public/images/icons/topics.svg#css"/>
         </svg>
      </header>
      <footer>
         CSS
      </footer>
   </a>

   <a href="{{ site.baseurl }}etiket/php" title="php" class="topic-box php">
      <header>
         <svg viewBox="0 0 100 100">
            <use xlink:href="public/images/icons/topics.svg#php"/>
         </svg>
      </header>
      <footer>
         PHP
      </footer>
   </a>

   <a href="{{ site.baseurl }}etiket/html" title="html" class="topic-box html">
      <header>
         <svg viewBox="-5 -5 60 60">
            <use xlink:href="public/images/icons/topics.svg#html"/>
         </svg>
      </header>
      <footer>
         HTML
      </footer>
   </a>

   <a href="{{ site.baseurl }}etiket/git" title="git" class="topic-box git">
      <header>
         <svg viewBox="0 0 100 100">
            <use xlink:href="public/images/icons/topics.svg#git"/>
         </svg>
      </header>
      <footer>
         GIT
      </footer>
   </a>

   <a href="{{ site.baseurl }}etiket/solid" title="solid" class="topic-box solid">
      <header>
         <svg viewBox="0 0 100 100">
            <use xlink:href="public/images/icons/topics.svg#solid"/>
         </svg>
      </header>
      <footer>
         SOLID
      </footer>
   </a>

   <a href="{{ site.baseurl }}etiket/raspberry-pi" title="raspberry-pi" class="topic-box raspberry-pi">
      <header>
         <svg viewBox="0 0 100 100">
            <use xlink:href="public/images/icons/topics.svg#raspberry-pi"/>
         </svg>
      </header>
      <footer>
         Raspberry Pi
      </footer>
   </a>

   <a href="{{ site.baseurl }}etiket/programming" title="programming" class="topic-box programming">
      <header>
         <svg viewBox="0 0 100 100">
            <use xlink:href="public/images/icons/topics.svg#programming"/>
         </svg>
      </header>
      <footer>
         Programming
      </footer>
   </a>
</div>