<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<base href="/">

<title>
  {{ site.title }}

  {% if page.title %}
  - {{ page.title }}
  {% endif %}
</title>

<meta name="google-site-verification" content="AjcYmDOSU742vR-ILySTopNuNk4lj3yrnv-sMKx52ak" />
<link rel="alternate" type="application/atom+xml" title="Selahattin Ünlü - Blog" href="/atom.xml">

<meta property="og:locale" content="tr_TR" />

{% if page.permalink %}
<meta property="og:type" content="article" />
{% endif %}

<meta property="og:title" content="{{ page.title }}" />

{% if page.description %}
<meta property="og:description" content="{{ page.description }}" />
{% endif %}

<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:site_name" content="Selahattin Ünlü - Blog" />
<meta property="article:publisher" content="http://www.facebook.com/zbigrhyme" />
<meta property="article:author" content="http://www.facebook.com/zbigrhyme" />
<meta property="article:tag" content="{{ page.tags | join }}" />
<meta property="article:published_time" content="{{ page.date }}" />

{% if page.image %}
<meta property="og:image" content="{{ site.url }}/public/img/posts/{{ page.image }}" />
{% endif %}

<!-- twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@selahattinunlu">
<meta name="twitter:domain" content="selahattinunlu.com">
<meta name="twitter:creator" content="@selahattinunlu">
<meta name="twitter:title" content="{{ page.title }}">

{% if page.image %}
<meta name="twitter:image:src" content="{{ site.url }}/public/img/posts/{{ page.image }}">
{% endif %}

{% if page.description %}
<meta name="twitter:description" content="{{ page.description }}">
{% endif %}

<!-- google-plus -->
<link rel="publisher" href="https://plus.google.com/+Selahattin%C3%9Cnl%C3%BC34"/>

<!-- canonical-url -->
<link rel="canonical" href="{{ site.url }}{{ page.url }}" />

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TXQQH8"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TXQQH8');</script>
<!-- End Google Tag Manager -->

<link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
<link rel="stylesheet" href="public/css/app.css">
<link rel="stylesheet" href="public/bower_components/animate.css/animate.min.css">

<!-- font-awesome -->
<link rel="stylesheet" href="public/bower_components/font-awesome/css/font-awesome.min.css">

<!-- fonts -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,400italic,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

<!-- javascript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="public/bower_components/typed.js/dist/typed.min.js"></script>
<script src="public/bower_components/sharer.js/sharer.min.js"></script>
<script src="public/js/shared.js"></script>