$default-font-family: 'Open Sans', sans-serif;
$primary-color: #66a0ef;
$secondary-color: orange - 5;

$facebook-color: #3b5998;
$twitter-color: #00aced;
$googleplus-color: #dd4c39;
$pocket-color: #ee4056;
$linkedin-color: #007ab5;
$instagram-color: #125688;
$github-color: #333;
$youtube-color: #cc181e;