.home-hero {
   .inner {
      width: 25em;
      margin: 0 auto;
      text-align: center;

      @include breakpoint ('desktop') {
         width: 85em;
      }
   }

   .title {
      font-size: 1.6rem;

      @include breakpoint ('desktop') {
         font-size: 3rem;
      }
   }

   .description {
      font-size: .9rem;
      margin-bottom: 0;

      @include breakpoint ('desktop') {
         font-size: 1.2rem;
      }
   }
}