---
title: Freelance İşler
layout: default
---

{% include mobile-menu--secondary.html %}

<div id="wrapper">
   {% include header--secondary.html %}

   <section class="app-content">
      <div class="container">
         <div class="section">
            <h5>Things made by me to improve my skills</h5>
            <div class="description">
               <div>
                  <a href="https://selahattinunlu-vuejs-giphy-app.firebaseapp.com/" target="_blank">VueJS: Giphy App</a>
               </div>
               <div>
                  <a href="https://vuejs-todoapp-demo.firebaseapp.com/" target="_blank">VueJS: Basic Todo App</a>
               </div>
               <div>
                  <a href="http://selahattinunlu.com/demo/vue-js-shopping-cart/" target="_blank">VueJS: Basic Shopping Cart</a>
               </div>
            </div>
         </div>
      </div>
   </section>
</div>

{% include footer.html %}

<!-- project-detail-box -->
<div class="project-detail-page-box" data-project="1">
   <button data-trigger="dismiss">
      <i class="fa fa-close"></i>
   </button>

   <div class="body">
      <div class="column is-description">
         <div class="description-body">
            <h3 class="title">Awesome Company Works Today</h3>
            <div class="description">
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio illum, omnis recusandae ipsam placeat quas culpa at eligendi sint earum magni a nostrum excepturi! Eum maxime nesciunt, reiciendis veniam aliquid.
            </div>
            <a href="#" title="#" target="_blank" class="button">Show Project</a>
         </div>
      </div>
      <div class="column">
         <img src="public/images/works/1/landing-2.jpg" class="full center">

         <div class="m-b-3"></div>

         <h3 class="sub-title center">Awesome Work</h3>

         <div class="m-b-3"></div>
         
         <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, accusamus consequatur nobis ipsum iste culpa qui numquam obcaecati suscipit perspiciatis quae eveniet minima, dolorum tempora magnam asperiores, perferendis ab odit.
         </p>
         <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex eligendi animi corrupti praesentium excepturi totam repellendus at fuga quis omnis. Dolores reprehenderit facilis molestias distinctio voluptas perferendis, ducimus impedit, inventore!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam blanditiis quae maxime culpa dolore porro perspiciatis perferendis neque tempore corporis vitae, rerum cumque aperiam illo, vel commodi in reprehenderit quibusdam.
         </p>

         <div class="m-b-3"></div>

         <img src="public/images/works/1/landing.jpg" class="full center">

         <div class="m-b-3"></div>

         <h3 class="sub-title center">Happy Clients</h3>

         <div class="m-b-3"></div>

         <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, accusamus consequatur nobis ipsum iste culpa qui numquam obcaecati suscipit perspiciatis quae eveniet minima, dolorum tempora magnam asperiores, perferendis ab odit.
         </p>
         <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex eligendi animi corrupti praesentium excepturi totam repellendus at fuga quis omnis. Dolores reprehenderit facilis molestias distinctio voluptas perferendis, ducimus impedit, inventore!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam blanditiis quae maxime culpa dolore porro perspiciatis perferendis neque tempore corporis vitae, rerum cumque aperiam illo, vel commodi in reprehenderit quibusdam.
         </p>
      </div>
   </div>
</div>

<div class="project-detail-page-box" data-project="next">
   <button data-trigger="dismiss">
      <i class="fa fa-close"></i>
   </button>

   <div class="body">
      <div class="column is-description">
         <div class="description-body">
            <h3 class="title">İletişim</h3>
            <div class="description">
               <p>
                  <strong>E-mail: </strong>
                  selahattin.unlu@yandex.com
               </p>
               <p>
                  <strong>Twitter: </strong>
                  @selahattinunlu
               </p>
            </div>
            <a href="#" title="#" target="_blank" class="button">Show Project</a>
         </div>
      </div>
      <div class="column is-blur">
         <img src="public/images/works/1/landing-2.jpg" class="full center">

         <div class="m-b-3"></div>

         <h3 class="sub-title center">Awesome Work</h3>

         <div class="m-b-3"></div>
         
         <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, accusamus consequatur nobis ipsum iste culpa qui numquam obcaecati suscipit perspiciatis quae eveniet minima, dolorum tempora magnam asperiores, perferendis ab odit.
         </p>
         <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex eligendi animi corrupti praesentium excepturi totam repellendus at fuga quis omnis. Dolores reprehenderit facilis molestias distinctio voluptas perferendis, ducimus impedit, inventore!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam blanditiis quae maxime culpa dolore porro perspiciatis perferendis neque tempore corporis vitae, rerum cumque aperiam illo, vel commodi in reprehenderit quibusdam.
         </p>

         <div class="m-b-3"></div>

         <img src="public/images/works/1/landing.jpg" class="full center">

         <div class="m-b-3"></div>

         <h3 class="sub-title center">Happy Clients</h3>

         <div class="m-b-3"></div>

         <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, accusamus consequatur nobis ipsum iste culpa qui numquam obcaecati suscipit perspiciatis quae eveniet minima, dolorum tempora magnam asperiores, perferendis ab odit.
         </p>
         <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex eligendi animi corrupti praesentium excepturi totam repellendus at fuga quis omnis. Dolores reprehenderit facilis molestias distinctio voluptas perferendis, ducimus impedit, inventore!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam blanditiis quae maxime culpa dolore porro perspiciatis perferendis neque tempore corporis vitae, rerum cumque aperiam illo, vel commodi in reprehenderit quibusdam.
         </p>
      </div>
   </div>
</div>

<script>
   $(function() {
      $('.project-box, #work-description').css('visibility', 'hidden');

      addEffectAsChaining('.project-box', 'fadeIn', 750, 0, function() {
         $('#work-description').css('visibility', 'visible').addClass('animated').addClass('fadeIn');
      });

      initProjectBoxAnimation();
   })
</script>