<!DOCTYPE html>
<html lang="tr-TR">
   <head>
      {% include head.html %}
   </head>
   <body class="landing">
      <div id="wrapper">
         <div class="home-body">
            <!-- hero -->
            <section class="home-hero">
               <div class="inner">
                  <h3 class="title animated fadeInDown">
                     Merhaba, ben Selahattin.
                  </h3>
                  <p class="description">
                     <span></span>
                  </p>
               </div>
            </section>

            <!-- footer -->
            <footer class="home-footer">
               <a href="/isler" title="İşler" class="footer-item">
                  <div class="body">
                     <div class="icon">
                        <img src="public/images/icons/2/works.png" alt="İşler">
                     </div>
                     <div class="title">
                        İşler
                     </div>
                  </div>
               </a>

               <a href="/projeler" title="Projeler" class="footer-item">
                  <div class="body">
                     <div class="icon">
                        <img src="public/images/icons/2/projects.png" alt="Projeler">
                     </div>
                     <div class="title">
                        Projeler
                     </div>
                  </div>
               </a>

               <a href="/blog" title="Blog" class="footer-item">
                  <div class="body">
                     <div class="icon">
                        <img src="public/images/icons/2/blog.png" alt="Blog">
                     </div>
                     <div class="title">
                        Blog
                     </div>
                  </div>
               </a>

               <a target="_blank" href="//www.youtube.com/channel/UCD0U9j2mQW3navwqzw0K2UQ" title="Youtube" class="footer-item">
                  <div class="body">
                     <div class="icon">
                        <img src="public/images/icons/2/youtube.png" alt="Youtube">
                     </div>
                     <div class="title">
                        Youtube
                     </div>
                  </div>
               </a>

               <a href="/iletisim" title="İletişim" class="footer-item">
                  <div class="body">
                     <div class="icon">
                        <img src="public/images/icons/2/contact.png" alt="İletişim">
                     </div>
                     <div class="title">
                        İletişim
                     </div>
                  </div>
               </a>
            </footer>
         </div>
      </div>

      <script src="public/js/home.js"></script>
   </body>
</html>