---
layout: blog
---

<article class="article-box">
   {% if page.image %}
      <div class="post-image" style="background: url(public/img/posts/{{ page.image }})"></div>
   {% endif %}

   <div class="post-inner">
      <div class="post-header">
         <h3 class="post-title">{{ page.title }}</h3>
         <span class="post-date">
            {{ page.date | date_to_string }}
         </span>
      </div>

      <div class="post-body">
         {{ content }}

         <!-- seri linkleri -->
         {% if page.serie %}
            <div class="serie-box">
               <p class="title">
                  Serinin diğer yazıları:
               </p>

               {% for post in site.posts reversed %}
                  {% if post.serie == page.serie %}
                     {% if page.permalink == post.permalink %}
                        <p class="m-b-0">— {{ post.title }}</p>
                        {% else %}
                        <p class="m-b-0">— <a href="{{ post.permalink }}">{{ post.title }}</a></p>
                     {% endif %}    
                  {% endif %}
               {% endfor %}
            </div>
         {% endif %}
         <!-- seri linkleri -->
         
         {% if page.references %}
            <h4 class="m-b-1">Referanslar</h4>

            {% for reference in page.references %}
               <li><a href="{{ reference }}" target="_blank">{{ reference }}</a></li>
            {% endfor %}
         {% endif %}

         <div class="post-social-sharing">
            <button 
               class="sharer facebook" 
               data-sharer="facebook" 
               data-url="{{ site.url }}{{ page.url }}">
               <i class="fa fa-facebook"></i>
            </button>
            <button 
               class="sharer twitter" 
               data-sharer="twitter" 
               data-title="{{ page.title }}" 
               data-via="selahattinunlu" 
               data-hashtags="" 
               data-url="{{ site.url }}{{ page.url }}">
               <i class="fa fa-twitter"></i>
            </button>
            <button 
               class="sharer googleplus" 
               data-sharer="googleplus" 
               data-url="{{ site.url }}{{ page.url }}">
               <i class="fa fa-google-plus"></i>
            </button>
            <button 
               class="sharer linkedin" 
               data-sharer="linkedin" 
               data-url="{{ site.url }}{{ page.url }}">
               <i class="fa fa-linkedin"></i>
            </button>
            <button 
               class="sharer pocket" 
               data-sharer="pocket" 
               data-title="{{ page.title }}" 
               data-url="{{ site.url }}{{ page.url }}">
               <i class="fa fa-get-pocket"></i>
            </button>
         </div>
      </div>
   </div>
</article>

<div class="comments">
   {% include comments.html %}
</div>
