<div class="list-box">
   <header>Sosyal Ağlar</header>
   <div class="body">
      <div class="social-list">
         <a target="_blank" href="//facebook.com/zbigrhyme" title="Facebook" class="item facebook">
            <i class="fa fa-facebook"></i>
         </a>

         <a target="_blank" href="//twitter.com/selahattinunlu" title="Twitter" class="item twitter">
            <i class="fa fa-twitter"></i>
         </a>

         <a target="_blank" href="//instagram.com/selahattin.unlu" title="Instagram" class="item instagram">
            <i class="fa fa-instagram"></i>
         </a>
         
         <a target="_blank" href="//www.youtube.com/channel/UCD0U9j2mQW3navwqzw0K2UQ" title="Youtube" class="item youtube">
            <i class="fa fa-youtube"></i>
         </a>

         <a target="_blank" href="//plus.google.com/+Selahattin%C3%9Cnl%C3%BC34" title="Google Plus" class="item googleplus">
            <i class="fa fa-google-plus"></i>
         </a>

         <a target="_blank" href="//github.com/selahattinunlu" title="Github" class="item github">
            <i class="fa fa-github"></i>
         </a>
      </div>
   </div>
</div>