.section {
   padding: 4rem 0;

   .title {
      font-weight: 800;
      font-size: 2.4rem;
      color: #333;
      text-transform: uppercase;
      margin-bottom: 2rem;
      display: block;
      transition: all .5s;

      &:hover {
         color: #444;
      }
   }

   .description {
      font-size: 1.1rem;
      line-height: 1.6;
      max-width: 70rem;
      color: #666;

      ul,
      p {
         &:last-of-type {
            margin-bottom: 0;
         }
      }
   }
}