---
layout: default
---

<article class="single-post">
  <header>
    <h1 class="post-title">{{ page.title }}</h1>
    <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
  </header>
  
  <!-- seri linkleri -->
  {% if page.serie %}
  <blockquote>
    <p>Bu yazı <a href="{{ site[page.serie].uri }}">{{ site[page.serie].title }}</a> yazı dizisinin bir parçasıdır.</p>

    {% for post in site[page.serie].posts %}
      {% if page.permalink == post.uri %}
        <p>— {{ post.title }}</p>
      {% else %}
        <p>— <a href="{{ post.uri }}">{{ post.title }}</a></p>
      {% endif %}      
    {% endfor %}
  </blockquote>
  {% endif %}
  <!-- seri linkleri -->

  {{ content }}

  {% include twitter_plug.html %}

  
  {% if page.references %}
    <hr>
    <h2>Referanslar</h2>

    {% for reference in page.references %}
    <li><a href="{{ reference }}" target="_blank">{{ reference }}</a></li>
    {% endfor %}
    <hr>
  {% endif %}

</article>

{% if site.related_posts != empty %}
<aside class="related">
  <h2>Diğer Makaleler</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:5 %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
          <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
        </a>
      </li>
    {% endfor %}
  </ul>
</aside>
{% endif %}

{% include comments.html %}