---
layout: default
---

<article class="single-post">
  <header>
    <h1 class="post-title">{{ page.title }}</h1>
    <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
  </header>

  {{ content }}
  {% include twitter_plug.html %}

  
  {% if post.references %}
    <hr>
    <h2>Referanslar</h2>

    {% for reference in post.references %}
    <li><a href="">{{ reference }}</a></li>
    {% endfor %}
    <hr>
  {% endif %}

</article>

{% if site.related_posts != empty %}
<aside class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</aside>
{% endif %}

{% include comments.html %}